html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.App {
  text-align: center;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.Header {
  background-color: #171a1b;
  padding: 10px 30px;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.Nav_Background {
  padding: 10px;
  border-bottom: 1px solid;
}

.Nav_Item {
  height: 100%;
  color: #0077ff;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: middle;
}

.Title_Name {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.Page {
  padding: 20px;
}